html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--primary-font);
  color: var(--dark-txt);
}

.section {
    padding-top: 40px;
    padding-bottom: 40px;
    
  @include mq(desktop) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.uppertitle { 
  font-family: var(--secondary-font); 
  color: var(--uppertitle-txt); 
  text-align: center; 
  text-transform: uppercase; 
  font-size: 18px; 
  line-height: 1.17; 
  margin-bottom: 16px; 
  
  @include mq(tablet) {
    font-size: 26px; 
    line-height: 1.15; 
  } 
  
  @include mq(desktop) {
    font-size: 30px; 
    line-height: 1.13; 
    letter-spacing: 0.04em; 
  } 
} 
 
.title { 
  font-family: var(--secondary-font); 
  color: var(--accent-txt); 
  text-align: center; 
  letter-spacing: 0.04em; 
  text-transform: uppercase; 
  font-size: 34px; 
  line-height: 1.15;
  
  @include mq(tablet) { 
    font-size: 48px; 
  } 
  
  @include mq(desktop) { 
    font-size: 58px;
    letter-spacing: 0.06em; 
  } 
}

.no-scroll {
  overflow: hidden;
}