h1,
h2,
h3,
h4,
p,
ul,
body {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
  
input,
textarea {
  outline: none;
}