@import './utils/variables';
@import './utils/mixin';
@import './utils/visually-hidden';

@import './base/base';
@import './base/reset';
@import './base/container';

@import './components/header';
@import './components/mobile-menu';
@import './components/hero';
@import './components/products';
@import './components/about';
@import './components/advantages';
@import './components/gallery';
@import './components/customer-reviews';
@import './components/contacts';
@import './components/footer';

@import './modals/backdrop';
@import './modals/modal-menu';
@import './modals/scroll-up';