:root {
  /*шрифты*/
  --primary-font: 'DM Sans', sans-serif;
  --secondary-font: 'Titan One', cursive;

  /*цвета текста*/
  --light-txt: #ffffff;
  --dark-txt: #000000;
  --accent-txt: #D41443;
  --uppertitle-txt: #FFA5BA;
  --second-txt: #907E82;

  /*цвета фона*/
  --primary-bg: #ffffff;
  --second-bg: #FFF5F6;
  --hero-bg: #FFB8CA;
  --customer-reviews-bg: #fafafa;
  --products-bg: #F0D1A5;
  --products-card-bg: #C2E297;

  /*цвета кнопок*/
  --accent-btn-bg: #D41443;
  --light-btn-bg: #f5f4fa;
  --hover-btn-bg: #C7133E;

  /*цвета иконок*/
  --primary-fill-icon: #FEA5BB;
  --hover-fill-icon: #D41443;

  /*анимация ховер/фокус*/
  --animation-hover: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}