.about-backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    visibility: visible;
    transition: opacity var(--animation-hover), transform var(--animation-hover), visibility var(--animation-hover);
    z-index: 20;

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }
}

.about-backdrop__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid rgba(223, 84, 84, 0.5);
    border-radius: 20px;

    background-color: var(--light-txt);
    background-repeat: no-repeat;
    background-size: contain;

    background-image: linear-gradient(to top, rgba(255, 255, 255,
            0.2), rgba(255, 165, 186, 0.2)), url('../images/about-modal/about-modal_sm.png');
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.2),
        rgba(255, 165, 186, 0.2)), -webkit-image-set(url('../images/about-modal/about-modal_sm.webp') 1x);

    @include mq (retina) {
        background-image: linear-gradient(to top, rgba(255, 255, 255,
         0.2), rgba(255, 165, 186, 0.2)), url('../images/about-modal/about-modal_sm@2x.png');
        background-image: linear-gradient(to top, rgba(255, 255, 255,
                0.2), rgba(255, 165, 186, 0.2)), -webkit-image-set(url('../images/about-modal/about-modal_sm@2x.webp') 2x);
    }

    @media screen and (min-width: 480px) {
        width: 75%;
        height: 50%;
    }

    @include mq (tablet) {
        background-image: linear-gradient(to top, rgba(255, 255, 255,
                    0.2), rgba(255, 165, 186, 0.2)), url('../images/about-modal/about-modal_md.png');
        background-image: linear-gradient(to top, rgba(255, 255, 255,
                    0.2), rgba(255, 165, 186, 0.2)), -webkit-image-set(url('../images/about-modal/about-modal_md.webp') 1x);

        @include mq (retina) {
            background-image: linear-gradient(to top, rgba(255, 255, 255,
                        0.2), rgba(255, 165, 186, 0.2)), url('../images/about-modal/about-modal_md@2x.png');
            background-image: linear-gradient(to top, rgba(255, 255, 255,
                        0.2), rgba(255, 165, 186, 0.2)), -webkit-image-set(url('../images/about-modal/about-modal_md@2x.webp') 2x);
        }
    }

    @include mq (desktop) {
        background-image: linear-gradient(to top, rgba(255, 255, 255,
                    0.2), rgba(255, 165, 186, 0.2)), url('../images/about-modal/about-modal_lg.png');
        background-image: linear-gradient(to top, rgba(255, 255, 255,
                    0.2), rgba(255, 165, 186, 0.2)), -webkit-image-set(url('../images/about-modal/about-modal_lg.webp') 1x);

        @include mq (retina) {
            background-image: linear-gradient(to top, rgba(255, 255, 255,
                        0.2), rgba(255, 165, 186, 0.2)), url('../images/about-modal/about-modal_lg@2x.png');
            background-image: linear-gradient(to top, rgba(255, 255, 255,
                        0.2), rgba(255, 165, 186, 0.2)), -webkit-image-set(url('../images/about-modal/about-modal_lg@2x.webp') 2x);
        }
    }

    opacity: 1;
    transition: opacity var(--animation-hover),transform var(--animation-hover);
    .about-backdrop.is-hidden & {
        opacity: 0;  
        transform: translate(-50%, -50%);
    }
}

.about-backdrop__button {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border: transparent;
    background-color: transparent;
    cursor: pointer;
    transition: background-color var(--animation-hover);

    &:hover,
    &:focus {
        color: var(--accent-btn-bg);
        background-color: rgba(240, 111, 143, 0.5);
    }
}

.about-backdrop__icon {
    fill: currentColor;
}
.about-backdrop__title {
    font-family: var(--secondary-font);
    color: var(--accent-txt);
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    font-size: 25px;
    line-height: 1.15;
    margin-bottom: 20px;

    @include mq(tablet) {
        font-size: 45px;
    }

    @include mq(desktop) {
        font-size: 60px;
    }

}

.about-backdrop__text {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(21/14);
    text-align: center;
@include mq (tablet) {
    font-size: 20px;
}
@include mq (desktop) {
    font-size: 26px;
}
}

.about-backdrop__link {
    position: absolute;
    right: 15px;
    bottom: 15px;
    font-size: 14px;
    padding: 10px 25px;
    color: var(--dark-txt);
    background-color: transparent;
    border-radius: 22px;
    border: 1px solid rgba(240, 111, 143, 0.5);
    transition: background-color var(--animation-hover);

    &:hover,
    &:focus {
        color: var(--accent-btn-bg);
        background-color: rgba(240, 111, 143, 0.5);
    }
    
    @include mq (desktop) {
        font-size: 24px;
    }
}
