<div class="about-backdrop is-hidden" modal>
    <div class="about-backdrop__form">
        <button class="about-backdrop__button" type="button" modal-close>
            <svg class="about-backdrop__icon" width="20" height="20">
                <use href="images/icons-ice-cream.svg#close-modal"></use>
            </svg>
        </button>
        <h2 class="about-backdrop__title">how it’s made?</h2>
        <p class="about-backdrop__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna
            aliqua facilisis.</p>
           
        <a class="about-backdrop__link is-closed" href="#contact" close>contact us</a>
        
    </div>
    
</div>