<div class="backdrop contacts-modal" data-modal="6">
  <div class="backdrop__body">
    <a href="" class="backdrop__close js-modal-close">
      <svg class="backdrop__close-svg">
        <use href="/images/icons-ice-cream.svg#icon-home"></use>
      </svg>
    </a>

    <div class="backdrop__title">
      <h1>Histori</h1>
      Ice cream is a dessert product, which is a mass frozen in the process of continuous beating,
      containing in its basis nutritious, flavoring, aromatic and emulsifying substances [1]. Ice
      cream
      <span class="backdrop-title__color__blue"
        >obtained by freezing fruit and berry juices and puree (fruit ice is most often obtained
        from orange).</span
      >
    </div>
    <img class="backdrop__img" src="/images/backdrop_hero/img_backdrop.png" />
  </div>
</div>
