<div class="contacts-modal overlay" data-modal="1">
    <button class="modal-button js-modal-close">
        <svg width="15" height="12">
            <use href="./images/icons-ice-cream.svg#icon-close"></use>
        </svg>
    </button>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27391.665436348652!2d-3.1706989403567536!3d51.457105032235084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486e035358339ea7%3A0xda89e446cea143c!2sIce%20Cream%20Passion!5e0!3m2!1sru!2sua!4v1652093339656!5m2!1sru!2sua"
        width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<div class="contacts-modal overlay" data-modal="2">
    <button class="modal-button js-modal-close">
        <svg width="15" height="12">
            <use href="./images/icons-ice-cream.svg#icon-close"></use>
        </svg>
    </button>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27391.665436348652!2d-3.1706989403567536!3d51.457105032235084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486e035358339ea7%3A0xda89e446cea143c!2sIce%20Cream%20Passion!5e0!3m2!1sru!2sua!4v1652093339656!5m2!1sru!2sua"
        width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>

</div>

<script src="./js/contacts-modal.js"></script>