
<div class="backdrop-form is-hidden" data-backdrop-form>
    <div class="modal-form">
        <button class="close" type="button" data-close-form>
            <svg class="modal-close" width="18" height="18">
                <use href="/images/icons-ice-cream.svg#icon-modal-close"></use>
            </svg>
        </button>
    
    <form class="form">
        <h2 class="form-title">Leave your detalis, we will call you back</h2>
        <div class="form-field">
            <input class="form-input" type="text" name="name" id="name" placeholder=" " required minlength="6" title="ку-ку!!нужно заполнить поле">
            <label for="name" class="form-label">Name</label>
            <svg class="form-icon" width="12" height="12">
                <use href="/images/icons-ice-cream.svg#icon-profile"></use>
            </svg>
        </div>
        <div class="form-field">
            <input class="form-input" type="tel" name="phone-number" id="phone-number" placeholder=" " required title="Номер телефончика">
            <label for="phone-number" class="form-label">Phone</label>
            <svg class="form-icon" width="13" height="13">
                <use href="/images/icons-ice-cream.svg#icon-phone"></use>
            </svg>
        </div>
        <div class="form-field">
            <input class="form-input" type="text" name="email" id="email" placeholder=" " required title="Электронный адрес">
            <label for="email" class="form-label">Email</label>
            <svg class="form-icon" width="15" height="12">
                <use href="/images/icons-ice-cream.svg#icon-pochta"></use>
            </svg>
        </div>
        <label class="feedback-label">
            Order
            <textarea class="feedback" name="feedback" rows="5" placeholder="Enter messange"></textarea>
        </label>
        <label class="checkbox-label">
            <input class="checkbox" type="checkbox" name="checkbox" required>
            <span class="checkbox-icon"></span>
            I agree with the terms and accept
            <a class="modal-link" href="/" target="_blank">Delivery conditions</a>
        </label>
        <button class="modal-batton" type="submit">Send</button>
    </form>
    </div>
</div>
