<div class="menu-mobile" id="menu-mobile" data-menu>
    <button class="mobile-menu-btn" type="button" data-open-form2>
        Buy now

    </button>
    <button class="close-mobile-btn " type="button" data-menu-close>
        <svg class="close-btn-icon" width="14" height="14" aria-label="Переключатель мобильного меню">
            <use class="close-icon" href="images/icons-ice-cream.svg#close-modal"></use>
        </svg>
    </button>
    <div class="mobile-menu-container">
        <nav class="mobile-menu-nav">
            <ul class="mobile-menu__list list">
                <li class="mobile-menu__item" >
                    <a class="mobile-menu__link link" href="#hero" >Home</a>
                </li>
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link link" href="#about-us">About us</a>
                </li>
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link link" href="#how-made">How it’s made?</a>
                </li>
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link link" href="#products">Our products</a>
                </li>
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link link" href="#contact">Contact</a>
                </li>

            </ul>

        </nav>

    </div>
</div>