
<div class="contacts-modal icecream" data-modal="3">
    <div class="container">
    <h2 class="products-modal__title">Ice cream</h2>
    <ul class="products-modal__list">
    <li class="products-modal__item">
        <h3 class="products-modal__subtitle">Subtitle</h3>
        <img class="products-modal__img" src="./images/products-modal/icecream-1.jpg" alt="Ice-cream">
        <p class="products-modal__text">Ice cream is a mixture of milk, cream, sugar, and sometimes other ingredients that has been frozen into a soft, creamy delight using special techniques.</p>
    </li>

    <li class="products-modal__item">
        <h3 class="products-modal__subtitle">Subtitle</h3>
        <img class="products-modal__img" src="./images/products-modal/icecream-2.jpg" alt="Ice-cream">
        <p class="products-modal__text">Ice cream has been a popular treat for hundreds of years but has only become commonplace since the widespread use of
        refrigeration.</p>
    </li>
    
    <li class="products-modal__item">
        <h3 class="products-modal__subtitle">Subtitle</h3>
        <img class="products-modal__img" src="./images/products-modal/icecream-3.jpg" alt="Ice-cream">
        <p class="products-modal__text">A rich, sweet, creamy frozen food made from variously flavored cream and milk products churned or stirred to a smooth
        consistency during the freezing process and often containing gelatin, eggs, fruits, nuts, etc.</p>
    </li>

    </ul>

    <button class="products-modal__btn js-modal-close" type="button">
    <svg class="products-modal__icon js-modal-close" width="20" height="20">
    <use class="products-modal__icon-close" href="./images/icons-ice-cream.svg#close-modal"></use>
    </svg>
    </button>

    <button class="products-modal__btn-buy" type="button" data-open-form3>
        Buy now
    </button>
    
</div>
</div>


<div class="contacts-modal icecoffee" data-modal="4">
    <div class="container">
        <h2 class="products-modal__title">Ice coffee</h2>
        <ul class="products-modal__list">
            <li class="products-modal__item">
                <h3 class="products-modal__subtitle">Subtitle</h3>
                <img class="products-modal__img" src="./images/products-modal/icecoffee-1.jpg" alt="Ice-cream">
                <p class="products-modal__text">An iced coffee is a cold version of your favourite coffee, but it's not simply a coffee that has been left to cool. Like
                a regular coffee, it's usually a combination of hot espresso and milk. However, ice is added too.</p>
            </li>

            <li class="products-modal__item">
                <h3 class="products-modal__subtitle">Subtitle</h3>
                <img class="products-modal__img" src="./images/products-modal/icecoffee-2.jpg" alt="Ice-cream">
                <p class="products-modal__text">The product of iced coffee is exactly the same as hot coffee, only that it goes through a cooling process. However, when
                you pour your coffee into ice it can tend to lose flavor, due to the ice melting.</p>
            </li>

            <li class="products-modal__item">
                <h3 class="products-modal__subtitle">Subtitle</h3>
                <img class="products-modal__img" src="./images/products-modal/icecoffee-3.jpg" alt="Ice-cream">
                <p class="products-modal__text">Drinking iced coffee is a real refreshment compared to hot coffee. You'll never burn your tongue on that really hot
                coffee again.</p>
            </li>

        </ul>

        <button class="products-modal__btn js-modal-close" type="button">
            <svg class="products-modal__icon" width="20" height="20">
                <use class="products-modal__icon-close" href="./images/icons-ice-cream.svg#close-modal"></use>
            </svg>
        </button>

        <button class="products-modal__btn-buy" type="button" data-open-form4>
            Buy now
        </button>

    </div>
</div>


<div class="contacts-modal milkshake" data-modal="5">
    <div class="container">
        <h2 class="products-modal__title">Milkshake</h2>
        <ul class="products-modal__list">
            <li class="products-modal__item">
                <h3 class="products-modal__subtitle">Subtitle</h3>
                <img class="products-modal__img" src="./images/products-modal/milkshakes-1.jpg" alt="Ice-cream">
                <p class="products-modal__text">It is usually prepared by milk, ice cream or iced milk, emulsifier and/or stabilizer, and flavorings or sweeteners
                (e.g., fruit syrup or chocolate sauce). Milkshake contains ice cream unlike milk smoothie. </p>
            </li>

            <li class="products-modal__item">
                <h3 class="products-modal__subtitle">Subtitle</h3>
                <img class="products-modal__img" src="./images/products-modal/milkshakes-2.jpg" alt="Ice-cream">
                <p class="products-modal__text">Full-service restaurants, ice cream shops, soda fountains, and diners usually prepare the shake in a milkshake machine.
                Milkshakes may be made from any flavor of ice cream; additional flavorings,
                such as chocolate syrup, malt syrup, or malted milk powder.
</p>
            </li>

            <li class="products-modal__item">
                <h3 class="products-modal__subtitle">Subtitle</h3>
                <img class="products-modal__img" src="./images/products-modal/milkshakes-3.jpg" alt="Ice-cream">
                <p class="products-modal__text">A milkshake (sometimes simply called a shake) is a sweet beverage made by blending milk, ice cream, and flavorings or
                sweeteners such as butterscotch, caramel sauce, chocolate syrup, fruit syrup, or whole fruit into a thick, sweet, cold
                mixture.</p>
            </li>

        </ul>

        <button class="products-modal__btn js-modal-close" type="button">
            <svg class="products-modal__icon" width="20" height="20">
                <use class="products-modal__icon-close" href="./images/icons-ice-cream.svg#close-modal"></use>
            </svg>
        </button>

        <button class="products-modal__btn-buy" type="button" data-open-form5>
            Buy now
        </button>

    </div>
</div>

