<section class="advantages section" id="about-us">
    <div class="container">
        <h2 class="advantages__title visually-hidden">Our advantages</h2>
        <ul class="advantages__list">
            <li class="advantages__it" data-aos="zoom-in" data-aos-duration="1000">
                <p class="advantages__numbers advantages__numbers--first">721</p>
                <p class="advantages__dscr advantages__dscr--first">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__it" data-aos="zoom-in" data-aos-duration="1000">
                <p class="advantages__numbers advantages__numbers--second">16kg</p>
                <p class="advantages__dscr advantages__dscr--second">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__it" data-aos="zoom-in" data-aos-duration="1000">
                <p class="advantages__numbers advantages__numbers--third">84</p>
                <p class="advantages__dscr advantages__dscr--third">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
                
    </div>
</section>
