<div class="backdrop">
  <div class="backdrop__body">
    <div class="backdrop__content">
      <a href="" class="backdrop__close"></a>
      <div class="backdrop__title">Рецепт Ice cream</div>
      <div class="backdrop__text">
        Ice cream is a dessert product, which is a mass frozen in the process of continuous beating,
        containing in its basis nutritious, flavoring, aromatic and emulsifying substances [1]. Ice
        cream is often served with fruit ice obtained by freezing fruit and berry juices and puree
        (fruit ice is most often obtained from orange).
      </div>
    </div>
  </div>
</div>
