<div class="backdrop">
  <div class="backdrop__body">
    <a href="" class="backdrop__close">
      <img src="/images/backdrop_hero/img_close.png" />
    </a>
    <div class="backdrop__content">
      <div class="backdrop__title">
        <h1>Histori</h1>
        Ice cream is a dessert product, which is a mass frozen in the process of continuous beating,
        containing in its basis nutritious, flavoring, aromatic and emulsifying substances [1]. Ice
        cream
        <span class="backdrop-title__color__blue"
          >obtained by freezing fruit and berry juices and puree (fruit ice is most often obtained
          from orange).</span
        >
      </div>
    </div>
  </div>
</div>
