<!--Контакты-->

<section class="contacts">
    <div class="conteiner">
        <h2 class="visually-hidden">Контакты</h2>
        <ul class="contacts-list list">
            <li class="contacts-link">
                <div class="contacts-blok">
                    <p class="contacts-name">CAFE</p>
                    <p class="contacts-city">Chicago</p>
                    <p class="contacts-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="contacts-blok">
                    <p class="contacts-day">Monday - Friday</p>
                    <p class="contacts-oclok">06:00 AM - 10:00 PM</p>
                    <p class="contacts-day">Saturday - Sunday</p>
                    <p class="contacts-oclok">08:00 AM - 16:00 PM</p>
                </div>
                <div class="contacts-blok">
                    <p class="contacts-tel">+61(0) 383 766 284 <br>noreply@envato.com</p>
                </div>
            </li>
            <li class="contacts-link">
                <div class="contacts-blok">
                    <p class="contacts-name--green">FOOD TRUCK</p>
                    <p class="contacts-city">Los Angeles</p>
                    <p class="contacts-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="contacts-blok">
                    <p class="contacts-day">Monday - Friday</p>
                    <p class="contacts-oclok">06:00 AM - 10:00 PM</p>
                    <p class="contacts-day">Saturday - Sunday</p>
                    <p class="contacts-oclok">08:00 AM - 16:00 PM</p>
                </div>
                <div class="contacts-blok">
                    <p class="contacts-tel">+61(0) 383 766 284 <br>noreply@envato.com</p>

                </div>
            </li>
            <li class="contacts-link">
                <div class="contacts-blok">
                    <p class="contacts-name">CAFE</p>
                    <p class="contacts-city">New York</p>
                    <p class="contacts-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="contacts-blok">
                    <p class="contacts-day">Monday - Friday</p>
                    <p class="contacts-oclok">06:00 AM - 10:00 PM</p>
                    <p class="contacts-day">Saturday - Sunday</p>
                    <p class="contacts-oclok">08:00 AM - 16:00 PM</p>
                </div>
                <div class="contacts-blok">
                    <p class="contacts-tel">+61(0) 383 766 284 <br>noreply@envato.com</p>
                </div>
        </ul>

        <div>
            <button class="button btn-red" type="button">Our Locations
                <svg width="4">
                    <use href=""></use>
                </svg>
            </button>
            <button class="button btn-white" type="button">Franchise
                <svg>
                    <use href=""></use>
                </svg>
            </button>
        </div>
    </div>
</section>