<!--Контакты-->

<section class="contacts section" id="contact">
    <div class="container">
        <h2 class="visually-hidden">Контакты</h2>
        <ul class="contacts-list ">

            <li class="contacts-item" data-aos="flip-left" data-aos-duration="800">
                <div class="contacts-blok">
                    <span class="contacts-name">CAFE</span>
                    <p class="contacts-city">Chicago</p>
                    <p class="contacts-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <ul class="contacts-blok">
                    <li >
                        <p class="contacts-day">Monday - Friday</p>
                        <p class="contacts-oclok">06:00 AM - 10:00 PM</p>
                    </li>
                    <li>
                        <p class="contacts-day">Monday - Friday</p>
                        <time class="contacts-oclok">08:00 AM - 16:00 PM</time>
                    </li>
                </ul>
                <ul class="contacts-box">
                    <li>
                        <a class="contacts-tel" href="tel:383 766 284"> +61(0) 383 766 284</a>
                    </li>
                    <li>
                        <a class="contacts-tel" href="mailto:noreply@envato.com"> noreply@envato.com</a>
                    </li>
                </ul>
            </li>

            <li class="contacts-item" data-aos="flip-left" data-aos-duration="800">
                <div class="contacts-blok">
                    <span class="contacts-name--green">FOOD TRUCK</span>
                    <p class="contacts-city">Los Angeles</p>
                    <p class="contacts-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <ul class="contacts-blok">
                    <li>
                        <p class="contacts-day">Monday - Friday</p>
                        <p class="contacts-oclok">06:00 AM - 10:00 PM</p>
                    </li>
                    <li>
                        <p class="contacts-day">Monday - Friday</p>
                        <time class="contacts-oclok">08:00 AM - 16:00 PM</time>
                    </li>
                </ul>
                <ul class="contacts-box">
                    <li>
                        <a class="contacts-tel" href="tel:383 766 284"> +61(0) 383 766 284</a>
                    </li>
                    <li>
                        <a class="contacts-tel" href="mailto:noreply@envato.com"> noreply@envato.com</a>
                    </li>
                </ul>
            </li>
            
            <li class="contacts-item" data-aos="flip-left" data-aos-duration="800">
                <div class="contacts-blok">
                    <span class="contacts-name">CAFE</span>
                    <p class="contacts-city">New York</p>
                    <p class="contacts-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <ul class="contacts-blok">
                    <li>
                        <p class="contacts-day">Monday - Friday</p>
                        <p class="contacts-oclok">06:00 AM - 10:00 PM</p>
                    </li>
                    <li>
                        <p class="contacts-day">Monday - Friday</p>
                        <time class="contacts-oclok">08:00 AM - 16:00 PM</time>
                    </li>
                </ul>
                <ul class="contacts-box">
                    <li>
                        <a class="contacts-tel" href="tel:383 766 284"> +61(0) 383 766 284</a>
                    </li>
                    <li>
                        <a class="contacts-tel" href="mailto:noreply@envato.com"> noreply@envato.com</a>
                    </li>
                </ul>
            </li>
                
        </ul>


        <ul class="contacts-button--box" data-aos="zoom-out-up" data-aos-duration="1000">
            <li>
                <button href="#" class="button btn-red js-open-modal" type="button" data-modal="1">Our Locations
                    <svg class="contacts-btn--svg" width="7" height="8">
                        <use href="./images/icons-ice-cream.svg#Vector-1"></use>
                    </svg>
                </button>
            </li>
            <li>
                <button href="#" class="button btn-white js-open-modal" type="button" data-modal="2">Franchise
                    <svg class="contacts-btn--svg" width="7" height="8">
                        <use href="./images/icons-ice-cream.svg#icon-vector-for-buttom-red"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>