<!--Контакты-->

<section class="contacts" id="contact">
    <div class="container">
        <h2 class="visually-hidden">Контакты</h2>
        <ul class="contacts-list">

            <li class="contacts-item">
                <ul class="contacts-blok">
                    <li class="contacts-name">CAFE</li>
                    <li class="contacts-city">Chicago</li>
                    <li class="contacts-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</li>
                </ul>
                <ul class="contacts-blok">
                    <li class="contacts-day">Monday - Friday</li>
                    <li class="contacts-oclok">06:00 AM - 10:00 PM</li>
                    <li class="contacts-day">Saturday - Sunday</li>
                    <li class="contacts-oclok">08:00 AM - 16:00 PM</li>
                </ul>
                <ul class="contacts-tel">
                    <li>+61(0) 383 766 284</li>
                    <li>noreply@envato.com</li>
                </ul>
            </li>

            <li class="contacts-item">
                <ul class="contacts-blok">
                    <li class="contacts-name--green">FOOD TRUCK</li>
                    <li class="contacts-city">Los Angeles</li>
                    <li class="contacts-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</li>
                </ul>
                <ul class="contacts-blok">
                    <li class="contacts-day">Monday - Friday</li>
                    <li class="contacts-oclok">06:00 AM - 10:00 PM</li>
                    <li class="contacts-day">Saturday - Sunday</li>
                    <li class="contacts-oclok">08:00 AM - 16:00 PM</li>
                </ul>
                <ul class="contacts-tel">
                    <li>+61(0) 383 766 284</li>
                    <li>noreply@envato.com</li>
                </ul>
            </li>

                <li class="contacts-item">
                    <ul class="contacts-blok">
                        <li class="contacts-name">CAFE</li>
                        <li class="contacts-city">New York</li>
                        <li class="contacts-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</li>
                    </ul>
                    <ul class="contacts-blok">
                        <li class="contacts-day">Monday - Friday</li>
                        <li class="contacts-oclok">06:00 AM - 10:00 PM</li>
                        <li class="contacts-day">Saturday - Sunday</li>
                        <li class="contacts-oclok">08:00 AM - 16:00 PM</li>
                    </ul>
                    <ul class="contacts-tel">
                        <li>+61(0) 383 766 284</li>
                        <li>noreply@envato.com</li>
                    </ul>
                </li>
                
        </ul>


        <ul class="contacts-button--box">
            <li>
                <button href="#" class="button btn-red js-open-modal" type="button" data-modal="1">Our Locations
                    <svg class="contacts-btn--svg" width="7" height="8">
                        <use href="./images/icons-ice-cream.svg#icon-Vector-for-button"></use>
                    </svg>
                </button>
            </li>
            <li>
                <button href="#" class="button btn-white js-open-modal" type="button" data-modal="2">Franchise
                    <svg class="contacts-btn--svg" width="7" height="8">
                        <use href="./images/icons-ice-cream.svg#icon-Vector-red"></use>
                    </svg>
                </button>
            </li>
        </ul>

    </div>

    <div class="overlay js-overlay-modal"></div>
        <div class="modal" data-modal="1">
            <button class="modal-button js-modal-close">
                <svg width="15" height="12">
                    <use href="./images/icons-ice-cream.svg#icon-close"></use>
                </svg>
            </button>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27391.665436348652!2d-3.1706989403567536!3d51.457105032235084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486e035358339ea7%3A0xda89e446cea143c!2sIce%20Cream%20Passion!5e0!3m2!1sru!2sua!4v1652093339656!5m2!1sru!2sua"
                width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>

        </div>

        
            <div class="modal" data-modal="2">
                <button class="modal-button js-modal-close">
                    <svg width="15" height="12">
                        <use href="./images/icons-ice-cream.svg#icon-close"></use>
                    </svg>
                </button>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27391.665436348652!2d-3.1706989403567536!3d51.457105032235084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486e035358339ea7%3A0xda89e446cea143c!2sIce%20Cream%20Passion!5e0!3m2!1sru!2sua!4v1652093339656!5m2!1sru!2sua"
                    width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        
            </div>

            
    

    <script src="./js/contacts-modal.js"></script>
    
    
</section>