<section class="section customer-reviews">
  <h2 class="visually-hidden">customer reviews</h2>
  <img
    class="customer-reviews__img"
    srcset="images/customer-reviews/customer1.png 1x, images/customer-reviews/customer1@2x.png 2x"
    src="images/customer-reviews/customer1.png"
    alt="girl"
    width="85"
    height="85"
  />
  <div class="customer-reviews__background">
    <p class="customer-reviews__text">
      Periodically, working at a wild pace, I want to treat myself. I recently tried this unusual
      ice cream, its taste really amazed me. I definitely recommend everyone to try it, and then
      share your impressions with friends. I wish you all a sweet life.
    </p>
  </div>
  <div class="customer-reviews__point"></div>
  <p class="customer-reviews__name">Emily, Los Angeles</p>
  <div class="customer-reviews__slider">
    <svg class="customer-reviews__slider__svg" width="12" height="12">
      <use href="./images/customer-reviews/symbol-defs.svg#home"></use>
    </svg>
    <div class="customer-reviews__slider__point"></div>
    <div class="customer-reviews__slider__point"></div>
  </div>
</section>
