<footer class="footer ">
    <div class="footer__groupe container">
        <div class="footer__text-groupe">
            <p class="uppertitle footer__text">homemade ice cream made</p>
            <p class="title footer__text--accent">with passion</p>
        </div>
        <div class="footer-contacts__groupe">
            <ul class="social__list list">
                <li class="social__item">
                    <a class="social__link" href="https://github.com" target="_blank" rel="noreferrer noopener"
                        aria-label="GitHub">
                        <svg class="social__icon" width="32" height="32">
                            <use href="/images/icons-ice-cream.svg#icon-github"></use>
                        </svg>
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="https://telegram.org" target="_blank" rel="noreferrer noopener"
                        aria-label="Telegram">
                        <svg class="social__icon" width="32" height="32">
                            <use href="/images/icons-ice-cream.svg#icon-telegram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="https://www.facebook.com" target="_blank" rel="noreferrer noopener"
                        aria-label="Facebook">
                        <svg class="social__icon" width="32" height="32">
                            <use href="/images/icons-ice-cream.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <p class="footer-contacts">
                Feel free to contact
                <a class="footer-contacts__link link" href="tel:+610383766284"> +61 (0) 383 766 284</a>
            </p>
        </div>
    </div>
    <div class="copy">
        <div class="copy_container">
            <p class="copy__text">
                &copy; 2019 - IceCream. All Rights Reserved.
            </p>
        </div>
    </div>
</footer>
    
    

