<footer class="footer">
    <p>homemade ice cream made 
        <span>with passion</span>
    </p>
    <ul>
        <li>
            <a href="https://github.com" target="_blank" rel="noreferrer noopener" aria-label="GitHub">
                <svg>
                    <use></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="https://telegram.org" target="_blank" rel="noreferrer noopener" aria-label="Telegram">
                <svg>
                    <use></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com" target="_blank" rel="noreferrer noopener" aria-label="Facebook">
                <svg>
                    <use></use>
                </svg>
            </a>
        </li>
    </ul>
    <p>
        Feel free to contact
        <a href="tel:+610383766284">+61 (0) 383 766 284</a>
    </p>
    <div>
        <p>
            &copy; 2019 - IceCream. All Rights Reserved.
        </p>
    </div>
</footer>