<section class="gallery section" >
    <div class="container" data-aos="zoom-in" data-aos-duration="800">
        <h2 class="visually-hidden">gallery</h2>

        <ul class="gallery__list">
            <li class="gallery__item" >
                <div class="gallery__thumb">
                    <picture class="gallery__img">
                        <source srcset="./images/gallery/1-ice-cream@2x.png 2x" type="image/webp" />
                    <img src="./images/gallery/1-ice-cream.png" alt="1-ice-cream">
                    </picture>
                </div>
            </li>

            <li class="gallery__item">
                <ul class="gallery__list--colum">
                    <li class="gallery__item--colum" >
                        <div class="gallery__thumb">
                            <picture class="gallery__img">
                                <source srcset="./images/gallery/2-ice-cream@2x.png 2x" type="image/webp" />
                                <img src="./images/gallery/2-ice-cream.png" alt="2-ice-cream">
                            </picture>
                        </div>
                    </li>
                    <li class="gallery__item--colum" >
                        <div class="gallery__thumb">
                            <picture class="gallery__img">
                                <source srcset="./images/gallery/3-ice-cream@2x.png 2x" type="image/webp" />
                                <img src="./images/gallery/3-ice-cream.png" alt="3-ice-cream">
                            </picture>
                        </div>
                    </li>
                </ul>
            </li>

            <li class="gallery__item">
                <ul class="gallery__list--colum">
                    <li class="gallery__item--colum" >
                        <div class="gallery__thumb">
                            <picture class="gallery__img">
                                <source srcset="./images/gallery/4-ice-cream@2x.png 2x" type="image/webp" />
                                <img src="./images/gallery/4-ice-cream.png" alt="4-ice-cream">
                            </picture>
                        </div>
                    </li>
                    <li class="gallery__item--colum" >
                        <div class="gallery__thumb">
                            <picture class="gallery__img">
                                <source srcset="./images/gallery/5-ice-cream@2x.png 2x" type="image/webp" />
                                <img src="./images/gallery/5-ice-cream.png" alt="5-ice-cream">
                            </picture>
                        </div>
                    </li>
                </ul>
            </li>
            
            <li class="gallery__item">
                <ul class="gallery__list--colum">
                    <li class="gallery__item--colum" >
                        <div class="gallery__thumb">
                            <picture class="gallery__img">
                                <source srcset="./images/gallery/6-ice-cream@2x.png 2x" type="image/webp" />
                                <img src="./images/gallery/6-ice-cream.png" alt="6-ice-cream">
                            </picture>
                        </div>
                    </li>
                    <li class="gallery__item--colum" >
                        <div class="gallery__thumb">
                            <picture class="gallery__img">
                                <source srcset="./images/gallery/7-ice-cream@2x.png 2x" type="image/webp" />
                                <img src="./images/gallery/7-ice-cream.png" alt="7-ice-cream">
                            </picture>
                        </div>
                    </li>
                </ul>
            </li>

            <li class="gallery__item"  >
                <ul class="gallery__list--colum">
                    <li class="gallery__item--colum" >
                        <div class="gallery__thumb">
                            <picture class="gallery__img">
                                <source srcset="./images/gallery/8-ice-cream@2x.png 2x" type="image/webp" />
                                <img src="./images/gallery/8-ice-cream.png" alt="8-ice-cream">
                            </picture>
                        </div>
                    </li>
                    <li class="gallery__item--colum" >
                        <div class="gallery__thumb">
                            <picture class="gallery__img">
                                <source srcset="./images/gallery/9-ice-cream@2x.png 2x" type="image/webp" />
                                <img src="./images/gallery/9-ice-cream.png" alt="9-ice-cream">
                            </picture>
                        </div>
                    </li>
                </ul>
            </li>

            <li class="gallery__item"  >
                <div class="gallery__thumb">
                    <picture class="gallery__img">
                        <source srcset="./images/gallery/10-ice-cream@2x.png 2x" type="image/webp" />
                        <img src="./images/gallery/10-ice-cream.png" alt="10-ice-cream">
                    </picture>
                </div>
            </li>
        </ul>
    </div>
</section>