<header class="page-header">
    <div class="container navigation">
        <a href="" class="logo">
            <img src="/images/header/logo.png" 
                alt="Лщготип компании" 
                width="199" />
        </a>
        <nav class="nav">
            <ul class="nav__list list">
                <li class="nav__item">
                    <a href="./index.html" class="nav__link nav__link--current">Home</a>
                </li>
                <li class="nav__item">
                    <a href="" class="nav__link">About us</a>
                </li>
                <li class="nav__item">
                    <a href="" class="nav__link">How it’s made?</a>
                </li>
                <li class="nav__item">
                    <a href="" class="nav__link">Our products</a>
                </li>
                <li class="nav__item">
                    <a href="" class="nav__link">Contact</a>
                </li>
            </ul>
        </nav>
        <button type="button" class="header-button">Buy now</button>
    </div>
</header>

