<header class="page-header">
  <div class="container navigation">

    <a href="index.html" class="logo">

      <picture>
        <source srcset="/images/header/logo@2x.png 2x" type="image/png" />
        <img src="/images/header/logo.png" alt="Лoготип компании" width="199" />
      </picture>
    </a>

    <nav class="nav">
      <ul class="nav__list list">
        <li class="nav__item">
          <a href="#hero" class="nav__link nav__link--current">Home</a>
        </li>
        <li class="nav__item">
          <a href="#about-us" class="nav__link">About us</a>
        </li>
        <li class="nav__item">
          <a href="#how-made" class="nav__link">How it’s made?</a>
        </li>
        <li class="nav__item">
          <a href="#products" class="nav__link">Our products</a>
        </li>
        <li class="nav__item">
          <a href="#contact" class="nav__link">Contact</a>
        </li>
      </ul>
    </nav>
    <div>
      <button class="menu-btn" type="button" aria-label="кнопка открытия меню" data-menu-button>
        <svg class="menu-btn__icon" width="20" height="12">
          <use class="menu-btn__icon-open" href="/images/icons-ice-cream.svg#icon-Burger"></use>
        </svg>
      </button>
      <button type="button" class="header-button" data-open-form>Buy now</button>
    </div>
</header>

