<section class="hero">
  <div class="container">
    <div>
      <picture class="hero-picture__circle">
        <source
          srcset="/images/desc/Ellipse3.png 1x, /images/desc/Ellipse3@2x.png 2x"
          media="(min-width:1200px)"
          type="image/webp"
        />

        <img class="" src="/images/desc/Ellipse3.png" alt="Кружек" />
      </picture>
      <picture class="hero-picture__icecream">
        <source
          srcset="/images/desc/slider-pic7.png 1x, /images/desc/slider-pic7@2x.png 2x"
          media="(min-width:1200px)"
          type="image/webp"
        />

        <img class="" src="/images/desc/slider-pic7.png" alt="icecream" />
      </picture>
      <picture class="hero-picture__so-tasty">
        <source
          srcset="/images/desc/slider-pic4.png 1x, /images/desc/slider-pic4@2x.png 2x"
          media="(min-width:1200px)"
          type="image/webp"
        />

        <img class="" src="/images/desc/slider-pic4.png" alt="soootasty" />
      </picture>
    </div>
    <h1 class="hero__title">
      ice cream made with <span class="hero__title-crimson">passion</span>
    </h1>
    <ul class="hero-button__box">
      <li><button class="hero__button-crimson" type="button">Products</button></li>
      <li><button class="hero__button" type="button">How it’s made?</button></li>
    </ul>
    <div class="hero__desc">
      <div class="hero__desc-left__sidebar">
        <img src="./images/desc/slider-pic5.png" />
      </div>
      <div class="hero__desc-right__sidebar">
        <p class="hero__txt">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
      </div>
    </div>
    <ul class="hero__number-shop__box">
      <ul class="hero__number-shop__item">
        <div class="hero__number-shop__circle"></div>
        <li class="hero__number-shop__number">16</li>
        <li class="hero__number-shop__txt">cafes</li>
      </ul>
      <ul class="hero__number-shop__item">
        <div class="hero__number-shop__circle"></div>
        <li class="hero__number-shop__number">23</li>
        <li class="hero__number-shop__txt">food trucks</li>
      </ul>
    </ul>
  </div>
</section>
