<section class="hero" id="hero">
  <h2 class="visually-hidden">hero</h2>
  <div class="container hero-container">
    <div>
      
      <div class="hero-picture__circle">
        <picture class="hero-picture__icecream">
        <source
          srcset="/images/hero/slider-pic7d.webp 1x, /images/hero/slider-pic7d@2x.webp 2x"
          media="(min-width:1280px)"
          type="image/webp"
        />
        <source
          srcset="/images/hero/slider-pic7d.png 1x, /images/hero/slider-pic7d@2x.png 2x"
          media="(min-width:1280px)"
          type="image/png"
        />
        <source
          srcset="/images/hero/slider-pic7t.webp 1x, /images/hero/slider-pic7t@2x.webp 2x"
          media="(min-width:768px)"
          type="image/webp"
        />
        <source
          srcset="/images/hero/slider-pic7t.png 1x, /images/hero/slider-pic7t@2x.png 2x"
          media="(min-width:768px)"
          type="image/png"
        />
        <source
          srcset="/images/hero/slider-pic7m.webp 1x, /images/hero/slider-pic7m@2x.webp 2x"
          media="(min-width:320px)"
          type="image/webp"
        />
        <source
          srcset="/images/hero/slider-pic7m.png 1x, /images/hero/slider-pic7m@2x.png 2x"
          media="(min-width:320px)"
          type="image/png"
        />
        <img class="" src="/images/hero/slider-pic7d.png" alt="icecream" />
      </picture></div>
      <picture class="hero-picture__so-tasty">
        <source
          srcset="/images/hero/slider-pic4d.webp 1x, /images/hero/slider-pic4d@2x.webp 2x"
          media="(min-width:1280px)"
          type="image/webp"
        />
        <source
          srcset="/images/hero/slider-pic4d.png 1x, /images/hero/slider-pic4d@2x.png 2x"
          media="(min-width:1280px)"
          type="image/png"
        />
        <source
          srcset="/images/hero/slider-pic4t.webp 1x, /images/hero/slider-pic4t@2x.webp 2x"
          media="(min-width:768px)"
          type="image/webp"
        />
        <source
          srcset="/images/hero/slider-pic4t.png 1x, /images/hero/slider-pic4t@2x.png 2x"
          media="(min-width:768px)"
          type="image/png"
        />

        <img class="" src="/images/hero/slider-pic4d.png" alt="soootasty" />
      </picture>
    </div>
    <div class="hero__info-box">
      <h1 class="hero__title">
        ice cream made with <span class="hero__title-crimson">passion</span>
      </h1>
      <ul class="hero-button__box">
        <li><a href="#products"><button class="hero__button-crimson" type="button">Products</button></a></li>
        <li><a href="#how-made "><button class="hero__button" type="button">How it’s made?</button></a></li>
      </ul>
    </div>
    <div class="hero__desc">
      <div class="hero__desc-left__sidebar">
        <picture>
          <source
            srcset="/images/hero/slider-pic5d.webp 1x, /images/hero/slider-pic5d@2x.webp 2x"
            media="(min-width:1280px)"
            type="image/webp"
          />
          <source
            srcset="/images/hero/slider-pic5d.png 1x, /images/hero/slider-pic5d@2x.png 2x"
            media="(min-width:1280px)"
            type="image/png"
          />
          <source
            srcset="/images/hero/slider-pic5t.webp 1x, /images/hero/slider-pic5t@2x.webp 2x"
            media="(min-width:768px)"
            type="image/webp"
          />
          <source
            srcset="/images/hero/slider-pic5t.png 1x, /images/hero/slider-pic5t@2x.png 2x"
            media="(min-width:768px)"
            type="image/png"
          />

          <img src="./images/hero/slider-pic5d.png" alt="milk" />
        </picture>
      </div>
      <div class="hero__desc-right__sidebar">
        <p class="hero__txt">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
      </div>
      <button href="#" type="button" class="hero__arow js-open-modal" data-modal="6"> 
        <svg class="hero__arrow_item" >
          <use class="hero__arrow_icon" href="/images/icons-ice-cream.svg#right-arrow"></use>
        </svg>
        </button>
    </div>
    <div class="hero__number-shop__box">
      <ul class="hero__number-shop__item">
        <li class="hero__number-shop__content">
          <p class="hero__number-shop__number">16</p>
          <p class="hero__number-shop__txt">cafes</p>
        </li>
        <li class="hero__number-shop__content" >
          <p class="hero__number-shop__number">23</p>
        <p class="hero__number-shop__txt">food trucks</p>
      </li>
       
    </div>
  </div>
</section>