<section class="hero">
  <div class="container hero-container">
    <div>
      <picture class="hero-picture__circle">
        <source
          srcset="/images/hero/Ellipse3d.webp 1x, /images/hero/Ellipse3d@2x.webp 2x"
          media="(min-width:1280px)"
          type="image/webp"
        />
        <source
          srcset="/images/hero/Ellipse3d.png 1x, /images/hero/Ellipse3d@2x.png 2x"
          media="(min-width:1280px)"
          type="image/webp"
        />
        <source
          srcset="/images/hero/Ellipse3t.webp 1x, /images/hero/Ellipse3t@2x.webp 2x"
          media="(min-width:768px)"
          type="image/webp"
        />
        <source
          srcset="/images/hero/Ellipse3t.png 1x, /images/hero/Ellipse3t@2x.png 2x"
          media="(min-width:768px)"
          type="image/webp"
        />
        <source
          srcset="/images/hero/Ellipse3m.webp 1x, /images/hero/Ellipse3m@2x.webp 2x"
          media="(min-width:320px)"
          type="image/webp"
        />
        <source
          srcset="/images/hero/Ellipse3m.png 1x, /images/hero/Ellipse3m@2x.png 2x"
          media="(min-width:320px)"
          type="image/webp"
        />

        <img class="" src="/images/hero/Ellipse3d.png" alt="Кружек" />
      </picture>
      <picture class="hero-picture__icecream">
        <source
          srcset="/images/hero/slider-pic7d.webp 1x, /images/hero/slider-pic7d@2x.webp 2x"
          media="(min-width:1280px)"
          type="image/webp"
        />
        <source
          srcset="/images/hero/slider-pic7d.png 1x, /images/hero/slider-pic7d@2x.png 2x"
          media="(min-width:1280px)"
          type="image/webp"
        />
        <source
          srcset="/images/hero/slider-pic7t.webp 1x, /images/hero/slider-pic7t@2x.webp 2x"
          media="(min-width:768px)"
          type="image/webp"
        />
        <source
          srcset="/images/hero/slider-pic7t.png 1x, /images/hero/slider-pic7t@2x.png 2x"
          media="(min-width:768px)"
          type="image/webp"
        />
        <source
          srcset="/images/hero/slider-pic7m.webp 1x, /images/hero/slider-pic7m@2x.webp 2x"
          media="(min-width:320px)"
          type="image/webp"
        />
        <source
          srcset="/images/hero/slider-pic7m.png 1x, /images/hero/slider-pic7m@2x.png 2x"
          media="(min-width:320px)"
          type="image/webp"
        />
        <img class="" src="/images/hero/slider-pic7d.png" alt="icecream" />
      </picture>
      <picture class="hero-picture__so-tasty">
        <source
          srcset="/images/hero/slider-pic4d.webp 1x, /images/hero/slider-pic4d@2x.webp 2x"
          media="(min-width:1280px)"
          type="image/webp"
        />
        <source
          srcset="/images/hero/slider-pic4d.png 1x, /images/hero/slider-pic4d@2x.png 2x"
          media="(min-width:1280px)"
          type="image"
        />
        <source
          srcset="/images/hero/slider-pic4t.webp 1x, /images/hero/slider-pic4t@2x.webp 2x"
          media="(min-width:768px)"
          type="image/webp"
        />
        <source
          srcset="/images/hero/slider-pic4t.png 1x, /images/hero/slider-pic4t@2x.png 2x"
          media="(min-width:768px)"
          type="image/webp"
        />

        <img class="" src="/images/desc/slider-pic4d.png" alt="soootasty" />
      </picture>
    </div>
    <div class="hero__info-box">
      <h1 class="hero__title">
        ice cream made with <span class="hero__title-crimson">passion</span>
      </h1>
      <ul class="hero-button__box">
        <li><button class="hero__button-crimson" type="button">Products</button></li>
        <li><button class="hero__button" type="button">How it’s made?</button></li>
      </ul>
    </div>
    <div class="hero__desc">
      <div class="hero__desc-left__sidebar">
        <picture>
          <source
            srcset="/images/hero/slider-pic5d.webp 1x, /images/hero/slider-pic5d@2x.webp 2x"
            media="(min-width:1280px)"
            type="image/webp"
          />
          <source
            srcset="/images/hero/slider-pic5d.png 1x, /images/hero/slider-pic5d@2x.png 2x"
            media="(min-width:1280px)"
            type="image"
          />
          <source
            srcset="/images/hero/slider-pic5t.webp 1x, /images/hero/slider-pic5t@2x.webp 2x"
            media="(min-width:768px)"
            type="image/webp"
          />
          <source
            srcset="/images/hero/slider-pic5t.png 1x, /images/hero/slider-pic5t@2x.png 2x"
            media="(min-width:768px)"
            type="image/webp"
          />

          <img src="./images/hero/slider-pic5d.png" />
        </picture>
      </div>
      <div class="hero__desc-right__sidebar">
        <p class="hero__txt">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
      </div>
      <span class="hero__arow"> </span>
    </div>
    <ul class="hero__number-shop__box">
      <ul class="hero__number-shop__item">
        <div class="hero__number-shop__circle"></div>
        <li class="hero__number-shop__number">16</li>
        <li class="hero__number-shop__txt">cafes</li>
      </ul>
      <ul class="hero__number-shop__item">
        <div class="hero__number-shop__circle"></div>
        <li class="hero__number-shop__number">23</li>
        <li class="hero__number-shop__txt">food trucks</li>
      </ul>
    </ul>
  </div>
</section>
