
  <section class="section" id="products">
    <div class="container">
    <p class="uppertitle" data-aos="flip-right"
    data-aos-easing="ease-out-cubic" data-aos-duration="1200">100% natural</p>
    <h2 class="products__title title" data-aos="flip-left"
    data-aos-easing="ease-out-cubic" data-aos-duration="1200">products</h2>

    <ul class="products__list">
    <li class="products__item" data-aos="flip-left"
    data-aos-easing="ease-out-cubic" data-aos-duration="800">
        
    <div class="products__wrap" data-aos="flip-left"
    data-aos-easing="ease-out-cubic" data-aos-delay="400"
    data-aos-duration="400">
    <h3 class="products__subtitle">ice cream</h3>
    <p class="products__more">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
    incididunt ut labore et. dolore magna aliqua facilisis.</p>
        
    <button href="#" class="products__btn js-open-modal" type="button" data-modal="3">
      <svg class="products__icon" width="11" height="10">
        <use class="products__icon-arrow" href="../src/images/icons-ice-cream.svg#right-arrow"></use>
      </svg>
    </button>
    </div>
    </li>
        
    <li class="products__item" data-aos="flip-left"
    data-aos-easing="ease-out-cubic" data-aos-duration="800">
    <div class="products__wrap" data-aos="flip-left"
    data-aos-easing="ease-out-cubic" data-aos-delay="400"
    data-aos-duration="400">
    <h3 class="products__subtitle">ice coffee</h3>
        
    <p class="products__more">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
    incididunt ut labore et. dolore magna aliqua facilisis.</p>
    <button href="#" class="products__btn js-open-modal" type="button" data-modal="4">
      <svg class="products__icon" width="11" height="10">
   <use class="products__icon-arrow" href="../src/images/icons-ice-cream.svg#right-arrow"></use>
  </svg>
    </button>
  </div>
    </li>

    <li class="products__item" data-aos="flip-left"
    data-aos-easing="ease-out-cubic" data-aos-duration="800">      
    <div class="products__wrap" data-aos="flip-left"
    data-aos-easing="ease-out-cubic" data-aos-delay="400"
    data-aos-duration="400">
    <h3 class="products__subtitle">Milkshake</h3>
        
    <p class="products__more">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
    incididunt ut labore et. dolore magna aliqua facilisis.</p>
    <button href="#" class="products__btn js-open-modal"  type="button" data-modal="5">
    <svg class="products__icon" width="11" height="10">
    <use class="products__icon-arrow" href="../src/images/icons-ice-cream.svg#right-arrow"></use>
    </svg>
    </button>
    </div>
    </li>
    </ul>
    </div>
  </section>