
  <section class="products" id="products">
    <div class="container">
    <p class="uppertitle">100% natural</p>
    <h2 class="products__title title">products</h2>

    <ul class="products__list">
    <li class="products__item">
        
    <div class="products__wrap">
    <h3 class="products__subtitle">ice cream</h3>
    <p class="products__more">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
    incididunt ut labore et. dolore magna aliqua facilisis.</p>
        
    <button class="products__btn" type="button">
      <svg class="products__icon" width="11" height="10">
        <use class="products__icon-arrow" href="../src/images/icons-ice-cream.svg#right-arrow"></use>
      </svg>
    </button>
    </div>
    </li>
        
    <li class="products__item">
    <div class="products__wrap">
    <h3 class="products__subtitle">ice coffee</h3>
        
    <p class="products__more">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
    incididunt ut labore et. dolore magna aliqua facilisis.</p>
    <button class="products__btn" type="button">
      <svg class="products__icon" width="11" height="10">
   <use class="products__icon-arrow" href="../src/images/icons-ice-cream.svg#right-arrow"></use>
  </svg>
    </button>
  </div>
    </li>

    <li class="products__item">      
    <div class="products__wrap">
    <h3 class="products__subtitle">Milkshake</h3>
        
    <p class="products__more">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
    incididunt ut labore et. dolore magna aliqua facilisis.</p>
    <button class="products__btn" type="button">
    <svg class="products__icon" width="11" height="10">
    <use class="products__icon-arrow" href="../src/images/icons-ice-cream.svg#right-arrow"></use>
    </svg>
    </button>
    </div>
    </li>
    </ul>
    </div>
  </section>
