<div class="products-modal">
    <div class="container">
    <h2 class="products-modal__title">Ice cream</h2>
    <ul class="products-modal__list">
    <li class="products-modal__item">
        <h3 class="products-modal__subtitle">Subtitle</h3>
        <img class="products-modal__img" src="./images/products-modal/icecream-1.jpg" alt="Ice-cream">
        <p class="products-modal__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam laborum minima, quia fugit quasi
        deserunt nisi nam
        voluptates nobis. Quam quo beatae necessitatibus molestiae repudiandae a eius.</p>
    </li>

    <li class="products-modal__item">
        <h3 class="products-modal__subtitle">Subtitle</h3>
        <img class="products-modal__img" src="./images/products-modal/icecream-2.jpg" alt="Ice-cream">
        <p class="products-modal__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam laborum minima, quia fugit quasi
        deserunt nisi nam voluptates nobis. Quam quo beatae necessitatibus molestiae repudiandae a eius.</p>
    </li>
    
    <li class="products-modal__item">
        <h3 class="products-modal__subtitle">Subtitle</h3>
        <img class="products-modal__img" src="./images/products-modal/icecream-3.jpg" alt="Ice-cream">
        <p class="products-modal__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam laborum minima, quia fugit quasi
        deserunt nisi nam
        voluptates nobis. Quam quo beatae necessitatibus molestiae repudiandae a eius.</p>
    </li>

    </ul>

    <button  class="products-modal__btn" type="button">
    <svg class="products-modal__icon js-modal-close" width="20" height="20">
    <use class="products-modal__icon-close" href="./images/icons-ice-cream.svg#close-modal"></use>
    </svg>
    </button>

    <button class="products-modal__btn-buy" type="button">
        Buy now
    </button>
    
</div>
</div>


<div class="products-modal icecoffee">
    <div class="container">
        <h2 class="products-modal__title">Ice coffee</h2>
        <ul class="products-modal__list">
            <li class="products-modal__item">
                <h3 class="products-modal__subtitle">Subtitle</h3>
                <img class="products-modal__img" src="./images/products-modal/icecoffee-1.jpg" alt="Ice-cream">
                <p class="products-modal__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam laborum
                    minima, quia fugit quasi
                    deserunt nisi nam
                    voluptates nobis. Quam quo beatae necessitatibus molestiae repudiandae a eius.</p>
            </li>

            <li class="products-modal__item">
                <h3 class="products-modal__subtitle">Subtitle</h3>
                <img class="products-modal__img" src="./images/products-modal/icecoffee-2.jpg" alt="Ice-cream">
                <p class="products-modal__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam laborum
                    minima, quia fugit quasi
                    deserunt nisi nam voluptates nobis. Quam quo beatae necessitatibus molestiae repudiandae a eius.</p>
            </li>

            <li class="products-modal__item">
                <h3 class="products-modal__subtitle">Subtitle</h3>
                <img class="products-modal__img" src="./images/products-modal/icecoffee-1.jpg" alt="Ice-cream">
                <p class="products-modal__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam laborum
                    minima, quia fugit quasi
                    deserunt nisi nam
                    voluptates nobis. Quam quo beatae necessitatibus molestiae repudiandae a eius.</p>
            </li>

        </ul>

        <button data-modal-close class="products-modal__btn" type="button">
            <svg class="products-modal__icon" width="20" height="20">
                <use class="products-modal__icon-close" href="./images/icons-ice-cream.svg#close-modal"></use>
            </svg>
        </button>

        <button class="products-modal__btn-buy" type="button">
            Buy now
        </button>

    </div>
</div>


<div class="products-modal milkshake">
    <div class="container">
        <h2 class="products-modal__title">Milkshake</h2>
        <ul class="products-modal__list">
            <li class="products-modal__item">
                <h3 class="products-modal__subtitle">Subtitle</h3>
                <img class="products-modal__img" src="./images/products-modal/milkshakes-1.jpg" alt="Ice-cream">
                <p class="products-modal__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam laborum
                    minima, quia fugit quasi
                    deserunt nisi nam
                    voluptates nobis. Quam quo beatae necessitatibus molestiae repudiandae a eius.</p>
            </li>

            <li class="products-modal__item">
                <h3 class="products-modal__subtitle">Subtitle</h3>
                <img class="products-modal__img" src="./images/products-modal/milkshakes-2.jpg" alt="Ice-cream">
                <p class="products-modal__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam laborum
                    minima, quia fugit quasi
                    deserunt nisi nam voluptates nobis. Quam quo beatae necessitatibus molestiae repudiandae a eius.</p>
            </li>

            <li class="products-modal__item">
                <h3 class="products-modal__subtitle">Subtitle</h3>
                <img class="products-modal__img" src="./images/products-modal/milkshakes-3.jpg" alt="Ice-cream">
                <p class="products-modal__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam laborum
                    minima, quia fugit quasi
                    deserunt nisi nam
                    voluptates nobis. Quam quo beatae necessitatibus molestiae repudiandae a eius.</p>
            </li>

        </ul>

        <button data-modal-close class="products-modal__btn" type="button">
            <svg class="products-modal__icon" width="20" height="20">
                <use class="products-modal__icon-close" href="./images/icons-ice-cream.svg#close-modal"></use>
            </svg>
        </button>

        <button class="products-modal__btn-buy" type="button">
            Buy now
        </button>

    </div>
</div>