.about {
    background-color: var(--second-bg);
    text-align: center;
    background-size: contain;
    background-position:bottom 25% right;
    background-repeat: no-repeat;
    
        @include mq (mobile-only) {
            background-image: url('../images/about/about-background_sm.png');
            background-image: -webkit-image-set(url('../images/about/about-background_sm.webp') 1x);
    
    
            @include mq (retina) {
                background-image: url('../images/about/about-background_sm@2x.png');
                background-image: -webkit-image-set(url('../images/about/about-background_sm@2x.webp') 2x);
            }
        }
        @include mq (desktop) {
            background-position: bottom 10% right;
            background-image: url('../images/about/about-background_lg.png');
            background-image: -webkit-image-set(url('../images/about/about-background_lg.webp') 1x);

            @include mq (retina) {
                background-image: url('../images/about/about-background_lg@2x.png');
                background-image: -webkit-image-set(url('../images/about/about-background_lg@2x.webp') 2x);
            }
        }

}
.about__wrapper {
    display: flex;
    align-items: center;
    @include mq (mobile-only) {
        flex-direction: column;
    }
    @include mq (notDesktop) {
        justify-content: center;
    }
}

.about__title {
    margin-bottom: 32px;
    @include mq (tablet) { 
        margin-bottom: 40px;
    }
    @include mq (desktop) {
        margin-bottom: 60px;
    }
}
.about__img{
    margin-bottom: 40px;
}
.about__container {
    text-align: left;
    @include mq (tablet) {
        margin-left: 32px;  
    }

    @include mq (desktop) {
        margin-left: 139px;
    }
                
}
.about__text {
    color: var(--dark-txt);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.62;
    text-align: start;
    width: 220px;
    margin-bottom: 40px;
    @include mq (tablet) {
        font-size: 14px;
        line-height: 1.76;
        width: 335px;
    }
    @include mq (desktop) {
        font-size: 16px;
        letter-spacing: 0.04em;
        width: 480px;
    }
}

.about__text-color {
    color: var(--second-txt);
    margin-bottom: 20px;
    @include mq(tablet) {
        margin-bottom: 40px;
    }

}
.about__btn {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(18/14);
    text-align: center;
    color: var(--accent-txt);
    background: var(--light-txt);

    border-radius: 22px;
    border: hidden;
    padding: 12px 37px;
    cursor: pointer;
    transition: background-color var(--animation-hover);
    &:hover,
    &:focus {
      background-color: #ECEBEB;
    }
}
.about__icon {
    margin-left: 14px;
}