.advantages {
    background-color: var(--second-bg);
    
}

.advantages__list {

    @include mq(tablet) {
            display: flex;
            align-items: center;
            padding-left: 17px;
    }

    @include mq(desktop) {
        padding-left: 1px;
    } 
}

.advantages__it {
    max-width: 230px;
    margin-bottom: 32px;

    &:nth-last-child(1) {
        margin-bottom: 0px;

        @include mq(tablet) {
            margin-right: 0px;
        }
    }

    @include mq(tablet) {
        max-width: 180px;
        margin-right: 4px;
        margin-bottom: 0px;
                 
    }

        @include mq(desktop) {
                max-width: 317px;
                margin-right: 106px;
        }
}

.advantages__numbers {
    margin-bottom: 18px;
    font-family: var(--secondary-font);
    font-size: 36px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--accent-txt);

    @include mq(tablet) {
        margin-bottom: 13px;
    }

    @include mq(desktop) {
        margin-bottom: 16px;
    }

    &::before {
        display: block;
        margin-bottom: 16px;
        content: '';
        background-size: contain;
        background-repeat: no-repeat;

        @include mq(tablet) {
            margin-bottom: 36px;
        }

        @include mq(desktop) {
            margin-bottom: 40px;
                }
    }
    
        &--first::before {
            width: 33px;
            height: 50px;
            
            background-image: url(/images/advantages/milk-bucket.png);
            background-image: -webkit-image-set(url(/images/advantages/milk-bucket.webp) 1x);
            
                @include mq(retina) {
                    background-image: url(/images/advantages/milk-bucket@2x.png);
                    background-image: -webkit-image-set(url(/images/advantages/milk-bucket@2x.webp) 2x);
                }
        
            }
        &--second::before {
                width: 50px;
                height: 50px;

                background-image: url(/images/advantages/fruits-bucket.png);
                    background-image: -webkit-image-set(url(/images/advantages/fruits-bucket.webp) 1x);
                
                    @include mq(retina) {
                        background-image: url(/images/advantages/fruits-bucket@2x.png);
                        background-image: -webkit-image-set(url(/images/advantages/fruits-bucket@2x.webp) 2x);
                    }

            }

        &--third::before {
            width: 44px;
            height: 50px;

            background-image: url(/images/advantages/advantages-ice-cream.png);
                background-image: -webkit-image-set(url(/images/advantages/advantages-ice-cream.webp) 1x);
            
                @include mq(retina) {
                    background-image: url(/images/advantages/advantages-ice-cream@2x.png);
                    background-image: -webkit-image-set(url(/images/advantages/advantages-ice-cream@2x.webp) 2x);
                }
        
            }
}

.advantages__dscr {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 12px;
    line-height: 1.7;

    color: var(--dark-txt);

    @include mq(tablet) {
        font-size: 14px;
        line-height: 1.74;
    
    }

        @include mq(desktop) {
            font-size: 16px;
            line-height: 1.76;
    
        }

}
