.advantages {
    background-color: var(--secondary-bg-color);
    padding-bottom: 80px;
}

.advantages__it {
    margin-bottom: 32px;

    &:nth-last-child(1) {
        margin-bottom: 0px;
    }
}

.advantages__numbers {
    font-family: var(--secondary-font);
    font-size: 36px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--accent-txt);

    
}

.advantages__dscr {
    width: 230px;
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 12px;
    line-height: 1.7;

    color: var(--dark-txt);
}
