.backdrop {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: url(/images/backdrop_hero/Background_backdrop.png),
    linear-gradient(rgb(255, 255, 255, 0.8), #ffa5ba, rgb(255, 255, 255, 0.8));
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #ffa5ba;
  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  @keyframes Appearance {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  animation-name: Appearance;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

.backdrop__body {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-self: center;
  padding: 30px;
  background-color: #f08fca33;
  &.is-open {
    transform: translateX(0);
    visibility: visible;
    pointer-events: initial;
  }
}

.backdrop__close {
  width: 40px;
  height: 40px;
  top: 33px;
  right: 50px;
  position: absolute;
}
.backdrop__close-svg {
  fill: #d41443;
  width: 40px;
  height: 40px;
}

.backdrop__title {
  position: relative;

  font-family: var(--secondary-font);

  font-weight: 400;

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #d41443;
  @keyframes Appearance {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  animation-name: Appearance;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);

  @include mq(tablet) {
    font-size: 23px;
    line-height: calc(27 / 23);
    width: calc(100% - 80px);
    bottom: 96px;
    left: 21px;
  }
  @include mq(desktop) {
    font-size: 25px;
    line-height: calc(30 / 25);
    width: 600px;
    height: 100%;
    bottom: 96px;
    left: 148px;
  }
}

.backdrop-title__color__blue {
  color: #eff5fc;
}
.backdrop__img {
  position: absolute;
  @keyframes Appearance {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  animation-name: Appearance;
  animation-duration: 4s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
  @include mq(mobile-only) {
    right: 16px;
    top: 527px;
  }
  @include mq(tablet) {
    width: 258px;
    height: auto;
    right: 130px;
    top: 420px;
  }
  @include mq(desktop) {
    width: 358px;
    height: auto;
    right: 135px;
    top: 187px;
  }
}
