.hero__button-crimson {
  border-radius: 20px;
  font-family: var(--primary-font);
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--accent-btn-bg);
  color: var(--light-txt);
  cursor: pointer;
  &:hover {
    color: var(--light-txt);
    background: var(--hover-btn-bg);
  }
  &:focus {
    color: var(--light-txt);
    background: var(--hover-btn-bg);
  }
  @media screen and(min-width:320px) {
    width: 61px;
    height: 24px;
    font-size: 8px;
    line-height: calc(8 / 10);
    margin-right: 9px;
    padding: 2px 6px;
  }
  @media screen and(min-width:768px) {
    width: 62px;
    height: 24px;
    font-size: 8px;
    line-height: calc(8 / 10);
    margin-right: 9px;
    padding: 2px 6px;
  }
  @media screen and(min-width:1280px) {
    width: 107px;
    height: 40px;
    font-size: 14px;
    line-height: calc(18 / 14);
    margin-right: 12px;
    padding: 2px 6px;
  }
}
.hero-button__box {
  display: flex;
  margin-top: 24px;
}
.hero__button {
  background: var(--second-bg);
  border-radius: 20px;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;

  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--accent-txt);
  cursor: pointer;
  &:hover {
    background: #ecebeb;
  }
  &:focus {
    background: #ecebeb;
  }
  @media screen and(min-width:320px) {
    width: 82px;
    height: 24px;
    font-size: 8px;
    line-height: calc(10 / 8);

    padding: 2px 6px;
  }
  @media screen and(min-width:768px) {
    width: 82px;
    height: 24px;
    font-size: 8px;
    line-height: calc(10 / 8);

    padding: 2px 6px;
  }
  @media screen and(min-width:1280px) {
    width: 138px;
    height: 40px;
    font-size: 14px;
    line-height: calc(18 / 14);

    padding: 2px 6px;
  }
}
//Кнопка меню в хедере
