.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  @media screen and(max-width:320px) {
    width: 100%;
  }
  @media screen and(min-width:480px) {
    width: 480px;
  }
  @media screen and(min-width:768px) {
    width: 768px;
  }
  @media screen and(min-width:1280px) {
    width: 1280px;
  }
}
