.customer-reviews {
    text-align: center;
}

.customer-reviews__img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;

    @include mq (tablet){
        margin-bottom: 20px;
    }
    @include mq (desktop){
        margin-bottom: 16px;
    }
}

.customer-reviews__background {
    position: relative;
    background-color: var(--customer-reviews-bg);
    margin-bottom: 16px;
    padding: 43px 0px 20px;
    margin-left: auto;
    margin-right: auto;

    @include mq (tablet) {
            max-width: 620px;
            padding: 37px 0px 36px;
            margin-bottom: 4px;
        }
    @include mq (desktop) {
        max-width: 1034px;
        padding: 47px 0px 31px;
        margin-bottom: 16px;
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        background-image: url(/images/customer-reviews/quote.svg);
        width: 54px;
        height: 40px;
        top: 30px;
        left: 53px;

        @include mq (tablet) {
        top: 20px;
        left: 6px;
    }
        @include mq (desktop) {
        top: 32px;
        left: 105px;
    }
    }

}

.customer-reviews__text {
    position: relative;
    font-size: 12px;
    line-height: 2.55;
    margin-bottom: 0;
    margin-left: 50px;
    margin-right: 50px; 
    padding: 0 15px;
    color: var(--dark-txt);

        @include mq (tablet) {
        font-size: 14px;
        line-height: 2.16;
        padding: 0 44px ; 
        margin-left: 6px;
        margin-right: 6px;    
    }
        @include mq (desktop) {
        font-size: 16px;
        line-height: 1.86;
        padding: 0 36px ;
        margin-left: 106px;
        margin-right: 106px; 
    }

    background-image: repeating-linear-gradient(0deg, #e1e1e1, transparent 1px 31px);

}

.customer-reviews__point {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--hover-btn-bg);
    margin-bottom: 16px;
    margin-right: auto;
    margin-left: auto;

    &::after {
        content: "";
        display: block;
        flex-shrink: 0;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: var(--hover-btn-bg);
        margin-left: 10px;
    }

    &::before {
        content: "";
        display: block;
        flex-shrink: 0;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: var(--hover-btn-bg);
        margin-right: 10px;
    }
}

.customer-reviews__name {
    color: var(--dark-txt);
    font-size: 14px;
    line-height: 1.86;
    margin-bottom: 16px;

    @include mq (tablet) {
    font-size: 16px;
    margin-bottom: 32px;
    }
    @include mq (desktop) {
    font-size: 20px;
    }
}


// slider
.flex-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.slider-wrapper {
    max-width: 1280px;
    width: 100%;
    position: relative;

    @include mq (tablet-only){
        max-width: 768px;
    }
}

#btn-prev,
#btn-next {
    position: absolute;
    left: 15px;
    top: 55%;
    cursor: pointer;
        @include mq (tablet) {
                left: 40px;
            }
        @include mq (desktop) {
            left: 25px;
        }
}

#btn-next {
    left: auto;
    right: 15px;
    @include mq (tablet){
        right: 40px;
    }
    @include mq (desktop) {
        left: 25px;
    }
}

.slide {
    width: 100%;
    height: 100%;
    display: none;
}

.slide.active {
    display: block;
    text-align: center;
}

.section {
    width: 100%;
    height: 100%;
}

.dots-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.dot.active {
    background-color: transparent
}

.dot.active::after {
    content: "";
    display: block;
    width: 13px;
    height: 12px;
    background-image: url(/images/customer-reviews/home.svg);
    background-repeat: no-repeat;
    object-fit:contain

}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #D9D9D9;
    cursor: pointer;

    &:not(:last-child) {
        margin-right: 18px;
    }
}


.arrow-left span {
    display: block;
    width: 15px;
    height: 15px;
    border-bottom: 3px solid #ff3140;
    border-left: 3px solid #ff3140;
    animation: arrow-left 2s infinite;
    margin: -3px;
    
    float: left;
}
 
.arrow-left span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow-left span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes arrow-left {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-0px, -0px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(0px, 0px);
    }
}

.arrow-right span {
    display: block;
    width: 15px;
    height: 15px;
    border-bottom: 3px solid #ff3140;
    border-left: 3px solid #ff3140;
    animation: arrow-right 2s infinite;
    margin: -3px;

    float: right;
}

.arrow-right span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow-right span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes arrow-right {
    0% {
        opacity: 0;
        transform: rotate(225deg) translate(-0px, -0px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(225deg) translate(0px, 0px);
    }
}
