ul {
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.list {
    list-style: none;
}

.footer {
    padding-bottom: 20px;
    background-color: blue;
    
    @include mq(tablet) {
        padding-bottom: 8px;
    }
}

.footer__text-groupe {
    @include mq(tablet) {
        width: 340px;
    }

    @include mq(desktop) {
        width: 474px;
    }
}

.footer__text {
    margin-bottom: 16px;

    font-family: 'Titan One';
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    
    color: var(--uppertitle-txt);

    @include mq(mobile-only) {
        width: 232px;
    }

    @include mq(tablet) {
        font-size: 26px;
        line-height: 1.15;
        letter-spacing: 0.04em;
    }
    
    @include mq(desktop) {
        font-size: 30px;
        line-height: 1.13;
    }
}

.footer__text--accent {
    font-family: 'Titan One';
    font-size: 34px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
                
    color: var(--accent-txt);

    @include mq(mobile-only) {
        width: 200px;
    }

    @include mq(tablet) {
        font-size: 48px;
        line-height: 1.15;
        letter-spacing: 0.06em;
    }
        
    @include mq(desktop) {
        font-size: 58px;
        line-height: 1.14;
    }
}

.social__item {
    background-color: tomato;
}

.social__icon {
    fill: var(--primary-fill-icon);
}