.gallery{
    background-image: linear-gradient(#fff5f6 45%, #ffffff 0 100%);
}

.gallery__list{
    display: flex;
    align-items: center;    
    justify-content: center;
    
    @include mq(mobile-only) {
        flex-direction: column;
    }
}

.gallery__item:not(:last-child) {
    margin-bottom: 8px;
    transition: transform var(--animation-hover);

    @include mq(tablet) {
        margin-right: 6px;
    }

    @include mq(desktop) {
        margin-right: 8px;
    }
} 

.gallery__thumb {
    display: block;
    border-radius: 18px;
    overflow: hidden;
    cursor: zoom-in;
    
    @include mq(mobile-only) {
        max-width: 137px;
    }

    &:hover {
        transform: scale(1.4);
    }           
}

.gallery__list--colum { 
    display: flex;
    flex-direction: column;    
    align-items: flex-start;
    
    @include mq(mobile-only) {       
        align-items: center;
    }
}

.gallery__item--colum:not(:last-child) {
    margin-bottom: 8px;
    
    @include mq(tablet) {
        margin-bottom: 6px;
    }

    @include mq(desktop) {
        margin-bottom: 8px;
    }
}

.gallery__item:nth-child(2) {
    @include mq(tablet) {
        margin-top: 4.5%;
    }
}
    
.gallery__item:nth-child(4) { 
    @include mq(tablet) {
        margin-top: 3%;
    }
}
    
.gallery__item:nth-child(5) {
    @include mq(tablet) {
        margin-top: -3%;
    }
}  

.gallery__item:nth-child(6) {          
    @include mq(tablet) {
        margin-top: -1%;
    }
}

.gallery__img{
    
    @include mq(mobile-only) {
        width: 100%;
        height: 100%;
        object-fit: cover;	
    }
}