
.page-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 8px;
    background-color: transparent;
    z-index: 99;
    
    @include mq(tablet) {
        padding-top: 32px;
    }
    
    @include mq(desktop) {
    padding-top: 37px;
    }
}

/* навигация */
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    @include mq(notDesktop) {
        display: none;
    }
   
}
.nav__list {
    display: flex;

.nav__item:not(:last-child) {
        margin-right: 35px;
    }
}

.nav__link {    
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--light-txt);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    letter-spacing: 0.02em;
    text-decoration: none;
    
    transition: color var(--animation-hover);

    &:hover,
    &:focus {
        color: var(--accent-txt);
    }

    /* активная страница */
    &--current {
        color: var(--accent-txt);
    }    
}
.header-button {
    padding: 10px 32px;
    min-width: 160px;
    height: 44px;
    margin-left: auto;

    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 16px;
    line-height: (21/16);

    align-items: center;
    text-align: center;
    cursor: pointer;

    color: var(--accent-txt);
    background-color: var(--primary-bg);
    border-radius: 22px;

    border: 1px solid transparent;
    
    transition: background-color var(--animation-hover);

&::after {
        content: "";
        width:6px;
        height: 10px;
        display: inline-block;
        margin-left: 12px;
        background-image: url(/images/header/vector.svg); 
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
    }

    &:hover,
    &:focus {
        background-color: #ECEBEB;
        }

        @include mq(mobile-only) {
        display: none;
    }
}

// Кнопка меню
.menu-btn {
    background-color: transparent;
    border: 1px solid transparent;

    &__icon-open {
        width: 20px;
        height: 12px;      
    }
   
    &:hover,
    &:focus {
        background-color: var(--light-btn-bg);
      
    }
       
    @include mq(desktop) {
            display: none;
        }
}