.products__title {
   
@include mq(mobile-only) {
    margin-bottom: 148px;

}

@include mq(tablet-only) {
    margin-bottom: 154px;
    
}

@include mq(desktop) {
    margin-bottom: 258px;
  
}
}

.products__list {

    @include mq(tablet) {
        display: flex;
        justify-content: center;
    }

}

.products__item {
    position: relative;
    border-radius: 24px;

    @include mq(tablet-only) {
        max-width: 224px;
    }
}

@include mq(mobile-only) {
    .products__item {
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
    
    
    &:not(:last-child) {
    margin-bottom: 140px;
}
    }
}

@include mq(tablet-only)  {
    .products__item:not(:last-child) {
            margin-right: 16px;
        }
}

@include mq(desktop)  {
    .products__item:not(:last-child) {
        margin-right: 32px;
    }
}

.products__subtitle {
    font-family: var(--secondary-font);
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--light-txt);

    @include mq(mobile-only) {
    font-size: 20px;
    line-height: 1.15;
    }

    @include mq(tablet-only) {
    font-size: 20px;
    line-height: 1.15;

    }

    @include mq(desktop) {
    font-size: 30px;
    line-height: 1.13;
    }

}

.products__subtitle::after {
    content: '';
    display: block;
    width: 26px;
    height: 6px;
    background-image: url(../images/products/points.png );
   
    margin: 32px auto;
}

.products__icons {
    margin-bottom: 32px;
}

.products__icon-point {
    fill: var(--light-txt);
}

.products__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;

    @include mq(mobile-only) {
    padding: 160px 40px 40px;
    }

   @include mq(tablet-only) {
    padding: 118px 25px 40px;
    }
   
    @include mq(desktop) {
       padding: 165px 65px 60px;
    }
   
}

.products__more {
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--light-txt);

@include mq(mobile-only) {
    margin-bottom: 32px;
    font-size: 14px;
    line-height: 1.5;
}

@include mq(tablet-only){ 
height: 150px;
overflow: hidden;
margin-bottom: 32px;
font-size: 14px;
line-height: 1.79;
}
    
@include mq(desktop) {
    height: 107px;
    overflow: hidden;
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.75;
   }
}

$colors: #FFB8CA, "#F0D1A5", "#C2E297";

@each $color in $colors {
    $idx: index($colors, $color);

    .products__item:nth-child(#{$idx}) {
        background-color: #{$color};
    }
}


.products__item::before {
    position: absolute;
    
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;

    @include mq(notDesktop) {
    top: -140px;
    }

    @include mq(desktop) {
    top: -258px;
    }
   
}

 @include mq(mobile-only) {
    .products__item:nth-child(1)::before {
        background-image: url('../images/products/straw-ice-mobile.png');
        background-size: contain;
            background-repeat: no-repeat;
        
    }

    @include mq (retina) {
    .products__item:nth-child(1)::before {
        background-image: url('../images/products/straw-ice-mobile@2x.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
    }
}

 @include mq(tablet-only) {
    .products__item:nth-child(1)::before {
        background-image: url('../images/products/straw-ice-tablet.png');
        background-size: contain;
        background-repeat: no-repeat;
    }

    @include mq(retina) {
    .products__item:nth-child(1)::before {
        background-image: url('../images/products/straw-ice-tablet@2x.png');
        background-size: contain;
        background-repeat: no-repeat;
        }
    }
}

@include mq(desktop) {
.products__item:nth-child(1)::before {
    background-image: url('../images/products/straw-ice-desktop.png');
    background-size: contain;
    background-repeat: no-repeat;

    }

    @include mq(retina) {
    .products__item:nth-child(1)::before {
            background-image: url('../images/products/straw-ice-desktop@2x.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}

@include mq(mobile-only) {
    .products__item:nth-child(2)::before {
        background-image: url('../images/products/icecoffee-mobile.png');
        background-size: contain;
        background-repeat: no-repeat;

    }

    @include mq(retina) {
        .products__item:nth-child(2)::before {
            background-image: url('../images/products/icecoffee-mobile@2x.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}

@include mq(tablet-only) {
    .products__item:nth-child(2)::before {
        background-image: url('../images/products/icecoffee-tablet.png');
        background-size: contain;
        background-repeat: no-repeat;
    }

        @include mq(retina) {
        .products__item:nth-child(2)::before {
            background-image: url('../images/products/icecoffee-tablet@2x.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}

@include mq(desktop) {
    .products__item:nth-child(2)::before {
        background-image: url('../images/products/icecoffee-desktop.png');
        background-size: contain;
        background-repeat: no-repeat;

    }

        @include mq(retina) {
        .products__item:nth-child(2)::before {
            background-image: url('../images/products/icecoffee-desktop@2x.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}

@include mq(mobile-only) {
    .products__item:nth-child(3)::before {
        background-image: url('../images/products/milkshakes-mobile.png');
        background-size: contain;
        background-repeat: no-repeat;

    }

   @include mq(retina) {
        .products__item:nth-child(3)::before {
            background-image: url('../images/products/milkshakes-mobile@2x.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}

@include mq(tablet-only) {
    .products__item:nth-child(3)::before {
        background-image: url('../images/products/milkshake-tablet.png');
        background-size: contain;
        background-repeat: no-repeat;
    }

   @include mq(retina) {
        .products__item:nth-child(3)::before {
            background-image: url('../images/products/milkshake-tablet@2x.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}

@include mq(desktop) {
    .products__item:nth-child(3)::before {
        background-image: url('../images/products/milkshake-desktop.png');
        background-size: contain;
        background-repeat: no-repeat;

    }

        @include mq(retina) {
        .products__item:nth-child(3)::before {
            background-image: url('../images/products/milkshake-desktop@2x.png');
            background-size: contain;
            background-repeat: no-repeat;

        }
    }
}

.products__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    
    width: 40px;
    height: 40px;
    background-color: var(--primary-bg);
    border-radius: 50%;

    transition: background-color var(--animation-hover), fill var(--animation-hover);
}

.products__btn:hover,
.products__btn:focus {
    background-color: var(--accent-btn-bg);
   
}

.products__icon-arrow {
    fill: var(--accent-btn-bg);
}

.products__btn:hover .products__icon-arrow,
.products__btn:focus .products__icon-arrow {
    fill: var(--light-txt);
}